

.display-flex{display: flex;}


body{max-width: 1440px;
        margin: 0 auto;}

 
/* nav section style  */

.nav-section{align-items: center;
        justify-content: center;
            justify-content: space-around;}


/* nav logo style */
.kinder{display: flex;
        font-size:2rem ;
        align-items: center;}


    /* nav link style  */
   

    .nav-links,li,a{text-decoration: none;
                list-style: none;
                margin-left:2rem;
                font-size: 1.20rem;
                font-weight: 600;}
    .item-1{color: #FEA301;}
    .item-2{color:#01ACFD ;}
    .item-3{color: #05D4DF;}
    .item-4{color: #5D58EF;}

    /* nav button style  */
.nav-btn{color: #FFFFFF;
                font-size: 1.20rem;
                font-weight: 600;
                border: none;
                background: #FEA301;
                border-radius:12px ;
                padding:10px 60px ;}

/* main section style stat */

/* hero-section titel style */


.hero-continar{gap: 50px;
            align-items: center;
            justify-content: center;
            
        }
        .haf{width: 640px;
            }


.marquee{overflow-x: hidden;
font-size: 1.30rem;
font-weight: 200;}



.section-titel{font-size: 3.90rem;
                font-weight: 900;}
#orenge-color{color: orange;}
#vision-color{color: skyblue;}

.section-description,.card-description{font-size:1,20rem ;
                    font-weight: 500;}
        /* section button style  */

        .section-btn{background: black;
            color: #FFFFFF;
            font-size: 1.20rem;
            font-weight: 600;
            border: none;
            border-radius:12px ;
            padding:10px 60px;}

/* standard-curriculum section style */

.standard-curriculum{max-width: 1440px;
                    margin: 0 auto;
                    justify-content: center;
                margin-top: 60px;
                background-image: url(/assets/bg.png);

              }
    .arrow-button{ justify-content: center;
                    margin-top: 20px;
                    gap: 20px;}
    .standard-titel{ font-size: 3rem;
                    font-weight: 900;
                text-align: center;}

    .card-box{margin-top: 80px;
        justify-content: center;
       }
    .card-titel{font-size: 2.25rem;
            
                font-weight: 900;}
    .card-1{width:367px ;
            margin-left: 0px;
            height: 476px;
            border-radius: 19px;
            padding: 20px ;
            text-align: center;
           
            box-shadow:0px 0px  6px 1px  rgba(47, 45, 45, 0.286);
            background-image:linear-gradient( #DEF5FF,#FFFFFF) ;
           
        }

        .card-2{width:367px ;
            margin-left: 30px;
            height: 476px;
            border-radius: 19px;
            padding: 20px ;
            text-align: center;
            box-shadow:0px 0px  6px 1px  rgba(47, 45, 45, 0.286);
            background-image:linear-gradient( #FFF4DC,#FFFFFF) ;
        }
        .card-3{width:367px ;
            margin-left: 30px;
            height: 476px;
            border-radius: 19px;
            padding: 20px ;
            text-align: center;
            box-shadow:0px 0px  6px 1px  rgba(47, 45, 45, 0.286);
            background-image:linear-gradient( #F2E8FF,#FFFFFF) ;
        }

        .card-btn-1{border: none;
                    color:#64C8FF ;
                    font-size: 1rem;
                    font-weight: 900;
                    margin-top: 38px;
                    

                                        }

    .card-btn-2{border: none;
        color:orange;
        font-size: 1rem;
        font-weight: 900;
        margin-top: 38px; }


    .card-btn-3{border: none;
    color:#8700FF;
    font-size: 1rem;
    font-weight: 900;
    margin-top: 38px;}
    
    /* our stories section style } */

.our-image-continar{max-width: 1440px;
                    margin: 0 auto;
                    height:800px ;
                    justify-content: center;
                    gap: 19px;
                    margin-top: 60px;
                    
                    background-image:url(/assets/bg.png) ;
                    background-image: linear-gradient(#ffff,rgba(255, 166, 0, 0.557));}

    .stories-1-img{width: 540px;
                background-color:#e4d4d4 ;
                justify-content: left;
                height: 602px;
               
                }
.margin-centar{margin: 0 20px;}

.stories-1-img,img{border-radius: 20px;}
    .stories-btn{color:#FFFFFF ;
                background-color: #05D4DF;
                border-radius:48px ;
                padding:15px 28px ;
                border: none;
               
                position: absolute;
                margin-top: -25px;
            margin-left: 40px;}
/* images 4 continar style */
.imgage-continar-4{display: grid;
                grid-template-columns: repeat(2,1fr);
                width: 601px;
                height: 622px;
                gap: 10px;
               
               }

.stories-2-img>img{width: 100%;}
.our-sub-titel{font-size: 1rem;
            font-weight: 900;}
.stories-2-img{width: 290px;
            background-color:#d98585 ;
            justify-content: left;
             border-radius: 10px;}




.stories-3-img{width: 290px;
    background-color:#5d97a4 ;
    justify-content: left;
    border-radius: 10px;}

    .stories-4-img{width: 292px;
        background-color:#db63c9 ;
        justify-content: left;
         border-radius: 10px;}

    .stories-5-img{width: 290px;
        background-color:#32cb47 ;
        justify-content: left;
        border-radius: 10px;}




.stories-btn-2{color:#FFFFFF ;
    background-color: #0a6166;
    border-radius:48px ;
    padding:15px 28px ;
    border: none;
    position: absolute;
    margin-top: -25px;
margin-left: 40px;}

.stories-btn-3{color:#FFFFFF ;
    background-color: #2d5cca;
    border-radius:48px ;
    padding:15px 28px ;
    border: none;
    position: absolute;
    margin-top: -25px;
margin-left: 40px;}

.stories-btn-4{color:#FFFFFF ;
    background-color: #cf39ed;
    border-radius:48px ;
    padding:15px 28px ;
    border: none;
    position: absolute;
    margin-top: -25px;
margin-left: 40px;}

.stories-btn-5{color:#FFFFFF ;
    background-color: #f12588;
    border-radius:48px ;
    padding:15px 28px ;
    border: none;
    position: absolute;
    margin-top: -25px;
margin-left: 40px;}

.stories-btn-center{position: relative;
                top: 100px;
                right: 130px;
    
   margin: 0 auto;
   display: flex;
   justify-content: center;
    background: black;
    color: #FFFFFF;
    font-size: 1.20rem;
    font-weight: 600;
    border: none;
    border-radius:12px ;
    padding:10px 30px;}


/* footer section style  */

footer{justify-content: space-evenly;
    
        
            background-color:#bf3b7d5e ;
              }

.footer-continar{max-width: 1440px;
    margin: 0 auto;
    height: 520px;
     justify-content: center;  
    align-items: center;

}
.footer-link{font-size: 1.25rem;
                font-weight: 600;
            position: relative;
            right: 60px;
           }

.footer-link>li{padding-top: 30px;}

.logo-section{position: relative;
    right: -100px;
            font-size: 2rem;
            font-weight: 900;}
#pandda-image{width: 105px;
                height: 115px;}
.pandda{align-items: center;}

.footer-titel{font-size:3.10rem ;}
.footer-description{width:300px ;}

.footer-kids{position: relative;
                right: 70px;}

.hide{display: none;}


/* responsiv style  */





            @media screen and (max-width:578px){

                /*nav section   */

             .nav-titel,
             .nav-links,
             .nav-btn{display: none;}  
            .bars{background-image: url(/assets/bars-3.png );
                    background-repeat: no-repeat;
                    height: 30px;
                    width: 30px;
                    position: relative;
                right: -290px;  
                       }
            header{border-bottom: 2px solid goldenrod;
                       margin-top:20px ;
                        padding: 10px;}
            .kinder{position: relative;
                    right:50px ;}
/* hero section  */
                .hero-continar
                {
                    display: flex;
                    grid-template-columns: repeat( 1fr);
                    flex-direction: column-reverse;
                    align-items: center;
                    
                   }
                
            
            .haf{width: 80%;
                margin: 0 auto;
                justify-items: center;
                align-items: center;
            }

            .section-img{width:90%;
                        margin: 0 24px;
                       justify-content: center;
                       
                       }

                       /* standard curriculum section */
            .card-box{display: grid;
                    grid-template-columns: repeat(1fr);
                    row-gap: 20px;
                    width:calc(100% - 5%);}
            .arrow-button{display:none ;}

            /* our stories section  */

            .stories-1-img{display: none;}

            .imgage-continar-4{display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            width: 100%;
                        margin: 0 auto;
            }
            /* footer section  */
            footer{height:942px ;}
            .footer-kids{position: relative;
                        left: 1px;}
            .footer-titel{font-size: 2.2rem;
                        }
            .pandda-image{width: 70px;
                        height: 70px;}
            .footer-continar{display: grid;
                            grid-template-columns: repeat(1fr);
                        }
            .logo-section{position: relative;
                            right: 20px;}
            .footer-link{position: relative;
                            left: -80px;
                           }
            }
